version: "3.4"

services:
  boilerplate-ts:
    container_name: boilerplate-ts
    build:
      args:
        NODE_ENV: development
    volumes:
      - ./:/app
    ports:
      - "3001:3000"

  mongodb:
    image: mongo:5
    container_name: boilerplate-ts-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./var/db/mongodb:/data/db